* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-large: 36px;
  --font-medium: 24px;
}

@media only screen and (max-width: 600px) {
  :root {
    --font-large: 24px;
    --font-medium: 18px;
  }
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 1rem;
  font-family: "Poppins", sans-serif;
}

.landing-section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: var(--font-large);
  font-weight: 700;
}

nav .share-btn {
  display: flex;
  align-items: center;
  border: 2px solid black;
  padding: 0.5rem 1.5rem;
  background: none;
  cursor: pointer;
  border-radius: 5px;
}

nav .share-btn p {
  margin-right: 1rem;
  font-size: var(--font-medium);
}

.goto {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.goto h1 {
  font-size: var(--font-large);
  font-weight: 600;
  text-align: center;
}

.goto a {
  text-decoration: none;
  border: 2px solid black;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  box-shadow: 7px 7px 0 black;
  color: black;
  font-size: var(--font-medium);
  border-radius: 5px;
}

.goto a:hover {
  box-shadow: 5px 5px 0 black;
  transition: all ease 75ms;
}

.goto svg {
  animation: bounce 1s linear infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50%);
  }
}
